.confirmation {
  width: 100%;
  border: 1px solid black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 1rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.confirmation h4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.confirmation p {
  line-height: 1.5;
}

.continue-btn {
  width: 100%;
}

.continue-btn .btn {
  display: block;
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 768px) {
  .confirmation {
    width: 60%;
    margin: 1rem auto;
  }

  .continue-btn .btn {
    width: 50%;
  }
}

@media (min-width: 960px) {
  .confirmation {
    width: 50%;
  }
  .continue-btn .btn {
    width: 30%;
  }
}
