/* Your css styling goes here */

/* Variables */
:root {
  --primary-color: rgb(22, 20, 49);
  --active-color: rgb(31, 71, 156);
}

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/* General */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  /* position: relative;
  width: 100vw;
  height: 100vh; */
}

/* Navbar */
.navbar {
  width: 100vw;
  background-color: var(--primary-color);
  height: 80px;
  color: #fff;
}

.navbar__items {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 3rem;
}

/* Cart */
.cart {
  position: relative;
}

.cart__items {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -15px;
  left: 30px;
  background-color: rgb(231, 88, 88);
  color: #fff;
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  animation: numItems 1s ease-in;
}

/* Page */
.page,
.product-page {
  width: 100%;
  min-height: calc(100vh - 80px - 4rem);
  /* padding: 2rem 0; */
}

/* .product-page .container {
  margin: 0 auto;
  min-height: calc(100vh - 80px - 4rem);
} */

/* Card */
.card {
  width: 100%;
  min-height: 300px;
  border: 1px solid black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

.card__image {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: 200px;
}

.image img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.card__details {
  padding: 1rem;
  font-size: 2rem;
  line-height: 1.5;
  text-align: center;
}

.star {
  margin: 2rem 0;
  color: rgb(179, 179, 6);
}

.num-reviews {
  margin-left: 1rem;
}

.price {
  margin-top: 2rem;
}

.card__actions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

/* Product */
.product-details {
  width: 100%;
  /* text-align: center; */
  /* min-height: 500px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
}

.product-name {
  letter-spacing: 2px;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 100;
}

.product-image {
  width: 300px;
  height: 300px;
  border: 4px solid black;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.product-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.product-description {
  margin: 2rem 0;
  padding: 1rem 2rem;
  border: 2px solid black;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  line-height: 1.5;
}

.product-actions {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product-qty select {
  /* width: 0px; */
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  font-weight: 400;
  font-family: inherit;
}

.product-qty select:active,
.product-qty select:focus {
  outline: none;
}

@keyframes numItems {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.5);
  }
  90% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

/* Step Arrow Progress Bar */
.display-table {
  display: table;
  width: 100%;
  height: 20px;
  border: 2px solid black;
  margin: 2rem 0;
  overflow: hidden;
  table-layout: fixed;
}

.display-table > div {
  /* max-width: 10px; */
  height: 100%;
  display: table-cell;
  border: 2px solid transparent;
  position: relative;
  text-align: center;
  line-height: 20px;
  font-size: 1.5rem;
}

.display-table .completed {
  background: var(--primary-color);
  color: white;
  cursor: pointer;
}

.display-table > div > div {
  position: absolute;
  right: -13px;
  top: 0px;
  height: 20px;
  width: 20px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(45deg);
  z-index: 3;
}

/* .display-table > div.active {
  background-color: chocolate;
} */

.display-table > div:not(:first-child) > span {
  margin-left: 1.5rem;
}

.display-table .active {
  width: 200px;
  /* animation: bg-animation 2s ease-in-out infinite; */
  background-color: var(--active-color);
  color: white;
  font-weight: bold;
  /* letter-spacing: 2px; */
  /* animation: background-animation 2s ease-in infinite alternate; */
}

.display-table .active > div {
  background-color: var(--active-color);
  /* animation: bg-animation 2s ease-in-out infinite; */
}

.display-table .completed > div {
  background: var(--primary-color);
  border-color: white;
}

/* Utility Classes */
.container {
  width: 90%;
  /* min-height: calc(100vh - 80px); */
  margin: 2rem auto;
  /* position: relative; */
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 150px;
  padding: 1rem 2rem;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  font-size: 1.5rem;
  background-color: var(--primary-color);
  cursor: pointer;
  color: #fff;
  font-family: inherit;
}

.btn-light {
  background-color: #eee;
  color: #000;
}

.btn:active,
.btn:focus {
  outline: none;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
@media (min-width: 768px) {
  .home-page .grid {
    grid-template-columns: 1fr 1fr;
  }
  .container {
    width: 80%;
  }
  .display-table {
    height: 40px;
  }
  .display-table > div {
    line-height: 40px;
  }
  .display-table > div > div {
    height: 40px;
    width: 40px;
    top: -2px;
    right: -18px;
  }
  .display-table .active {
    width: 400px;
  }
}
@media (min-width: 960px) {
  .container {
    width: 70%;
  }
  .product-details {
    width: 70%;
    margin: 0 auto;
  }

  .product-description {
    padding: 2rem;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 60%;
  }
  .home-page .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
