:root {
  --active-color: rgb(31, 71, 156);
}
.display-table {
  display: table;
  width: 100%;
  height: 20px;
  border: 2px solid black;
  margin: 2rem 0;
  overflow: hidden;
  table-layout: fixed;
}

.display-table > div {
  /* max-width: 10px; */
  height: 100%;
  display: table-cell;
  border: 2px solid transparent;
  position: relative;
  text-align: center;
  line-height: 20px;
  font-size: 1.5rem;
}

.display-table .completed {
  background: var(--primary-color);
  color: white;
}

.display-table > div > div {
  position: absolute;
  right: -13px;
  top: 0px;
  height: 20px;
  width: 20px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(45deg);
  z-index: 3;
}

/* .display-table > div.active {
  background-color: chocolate;
} */

.display-table > div:not(:first-child) > span {
  margin-left: 1.5rem;
}

.display-table .active {
  width: 220px;
  /* animation: bg-animation 2s ease-in-out infinite; */
  background-color: var(--active-color);
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  /* animation: background-animation 2s ease-in infinite alternate; */
}

.display-table .active > div {
  background-color: var(--active-color);
  /* animation: bg-animation 2s ease-in-out infinite; */
}

.display-table .completed > div {
  background: var(--primary-color);
}

/* @keyframes bg-animation {
  from {
    background-color: rgb(22, 24, 151);
    color: white;
  }
  to {
    background-color: var(--primary-color);
    color: white;
  }
} */
